# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore build artifacts
bin/
obj/
out/

# Ignore dependencies
node_modules/
packages/
.vscode/
.idea/

# Ignore user-specific files
logs/
migrations/
*.log
*.env
*.tmp
publish/
*.zip

